# Foundation of Computer Science - Final Project

Roll number: 846965

Name: Pranav

Surname: Kasela

Academic year: 2018/2019

Course: DATA SCIENCE

Faculty: DEPARTMENT OF INFORMATICS, SYSTEMS AND COMMUNICATION (DISCO)

Class: LM-91-Classe delle lauree magistrali in Tecniche e metodi per la societa dell'informazione

e-mail: p.kasela@campus.unimib.it

In [85]:
#Not needed for the exam but to calclute time of execution of the whole code
import time
start_time=time.time()

In [86]:
#Imported here all the libraries needed for this exam
import pandas as pd
import numpy as np
import re

In [87]:
#Uncomment to print all the DataFrame or Series if needed, we print all the columns
pd.set_option('display.max_columns', None)  # or any number instead of None
#pd.set_option('display.max_rows', None)  # or any number instead of None
#pd.set_option('display.max_colwidth', -1)  # or any number instead of -1

In [88]:
#I use it because I like seeing above the tables it's name.
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [89]:
#Read both datasets
googlestore = pd.read_csv("./datasets/googleplaystore.csv")
googlereviews = pd.read_csv("./datasets/googleplaystore_user_reviews.csv")

In [90]:
#The row 10472 is problematics
googlestore.loc[[10472]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

Best choice for the row 10472 is the record removal

In [91]:
googlestore=googlestore.drop(10472)

The datasets structure:

In [92]:
display("googlestore.head()")

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [93]:
display("googlereviews.head()")

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

## Exercise 1
1. Convert the app sizes to a number

In [94]:
#Checking the format of the data
googlestore.Size.unique()[0:5]

array(['19M', '14M', '8.7M', '25M', '2.8M'], dtype=object)

In [95]:
size_to_num = re.compile('(?P<number>\d+\.{0,1}\d*)(?P<prefix>\w*)')
#In this function for kilo lowercase k for kilo and uppercase M and G for Mega and Giga. 
#We Assume no file with any other unit otherwise the unit will be ignored. 
def prefix_to_mult(unit):
    if unit == 'G':
        return 1000000000
    if unit == 'M':
        return 1000000
    if unit == 'k':
        return 1000
    return 1

#This function can understand the format of the data given to it using regex,
#If the given data is not in the expected format it will return 'Not a Number'
def ConvertSizeToByte(Size):
    searched = size_to_num.search(Size)
    if searched is None:
        return np.nan
    else:
        prefix = searched.group('prefix')
        mult = prefix_to_mult(prefix)
        result = float(searched.group('number'))
        return int(result*mult)

We chose to create a new column for the converted data

In [96]:
googlestore['SizeInBytes'] = googlestore['Size'].apply(ConvertSizeToByte)

In [97]:
display("googlestore[['App','Size','SizeInBytes']].tail()") #Use tail because it has also a NaN

,App,Size,SizeInBytes
10836,Sya9a Maroc - FR,53M,53000000.0
10837,Fr. Mike Schmitz Audio Teachings,3.6M,3600000.0
10838,Parkinson Exercices FR,9.5M,9500000.0
10839,The SCP Foundation DB fr nn5n,Varies with device,NaN
10840,iHoroscope - 2018 Daily Horoscope & Astrology,19M,19000000.0

## Exercise 2
2. Convert the number of installs to a number

In [98]:
#Checking the format of the data
googlestore.Installs.unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [99]:
display("googlestore[googlestore.Installs=='0']")
#This is the only row with install not in the normal format (with the +)
#but it is not a problem since we will ignore the + while searching for the number

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,SizeInBytes
9148,Command & Conquer: Rivals,FAMILY,NaN,0,Varies with device,0,NaN,0,Everyone 10+,Strategy,"June 28, 2018",Varies with device,Varies with device,NaN

In [100]:
install_to_num = re.compile('(?P<number>[\d,]+)') #the format is num,num,num,...,num

#We find using regex the number in the format 
def installToNumber(installs):
    found = install_to_num.search(installs)
    if(found):
        replacedComma = found.group('number').replace(',','') #replace the commas with nothing
        return int(replacedComma)
    else:
        return np.nan

In [101]:
googlestore['InstallNumber']=googlestore['Installs'].apply(installToNumber)

In [102]:
display("googlestore[['App','Installs','InstallNumber']].head()")

,App,Installs,InstallNumber
0,Photo Editor & Candy Camera & Grid & ScrapBook,"10,000+",10000
1,Coloring book moana,"500,000+",500000
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...","5,000,000+",5000000
3,Sketch - Draw & Paint,"50,000,000+",50000000
4,Pixel Draw - Number Art Coloring Book,"100,000+",100000

## Exercise 3
3. Transform “Varies with device” into a missing value

In [103]:
#replace 'Varies with device' with NaN.
googlestore.replace('Varies with device', np.nan,inplace=True)
#inplace is needed so the replace is executed on the dataframe itself

In [104]:
googlestore.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,SizeInBytes,InstallNumber
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up,53000000.0,5000
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up,3600000.0,100
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up,9500000.0,1000
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,NaN,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",NaN,NaN,NaN,1000
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",NaN,NaN,19000000.0,10000000

## Exercise 4
4. Convert Current Ver and Android Ver into dotted number (e.g. 4.0.3 or 4.2)

#### We start by converting the Android Ver

Due to the data format, we transform the Android version in 2 different column a minimum version and a maximum version considering the 'and up' value as the latest version 8.1 of android today.

In [105]:
#The versions with the W in the end are the wearable version we will not consider the W
googlestore['Android Ver'].value_counts()

4.1 and up       2451
4.0.3 and up     1501
4.0 and up       1375
4.4 and up        980
2.3 and up        652
5.0 and up        601
4.2 and up        394
2.3.3 and up      281
2.2 and up        244
4.3 and up        243
3.0 and up        241
2.1 and up        134
1.6 and up        116
6.0 and up         60
7.0 and up         42
3.2 and up         36
2.0 and up         32
5.1 and up         24
1.5 and up         20
4.4W and up        12
3.1 and up         10
2.0.1 and up        7
8.0 and up          6
7.1 and up          3
1.0 and up          2
5.0 - 8.0           2
4.0.3 - 7.1.1       2
4.1 - 7.1.1         1
5.0 - 7.1.1         1
7.0 - 7.1.1         1
5.0 - 6.0           1
2.2 - 7.1.1         1
Name: Android Ver, dtype: int64

In [106]:
print('There are {0} missing data values in Android Ver out of {1} more than 12%'
      .format(googlestore[googlestore['Android Ver'].isnull()].shape[0], googlestore.shape[0]))

There are 1364 missing data values in Android Ver out of 10840 more than 12%

The following cell contains the major_Android_ver considered 8.1 as of today.

We define two function one to compute the maximum version and one the minimum version.

In [107]:
MinVer_toNum=re.compile('^(?P<MinVer>\d+\.\d+\.{0,1}\d*)')
MaxVer_toNum=re.compile('(?P<MaxVer>\d+\.\d+\.{0,1}\d*)$')

#To be changed if new version is released, will be used instead of 'and up'
major_Android_ver = 8.1

#We Decide not to trow away the missing version since we would we throwing away more that 12% of the data!
def MinAndroidVersion_ToNum(version):
    if pd.isnull(version):
        return None
    MinVer=MinVer_toNum.search(version)
    if MinVer is not None:
        return MinVer.group('MinVer')
    else:
        return None
    
def MaxAndroidVersion_ToNum(version):
    #Since there are some NaN values
    if pd.isnull(version):
        return None
    MaxVer=MaxVer_toNum.search(version)
    if MaxVer is not None:
        return MaxVer.group('MaxVer')
    else:
        return major_Android_ver

In [108]:
googlestore['Min_Android_Ver']=googlestore['Android Ver'].apply(MinAndroidVersion_ToNum)
googlestore['Max_Android_Ver']=googlestore['Android Ver'].apply(MaxAndroidVersion_ToNum)

In [109]:
display("googlestore[['App','Android Ver','Min_Android_Ver','Max_Android_Ver']].tail()")
#The varies with device becomes None

,App,Android Ver,Min_Android_Ver,Max_Android_Ver
10836,Sya9a Maroc - FR,4.1 and up,4.1,8.1
10837,Fr. Mike Schmitz Audio Teachings,4.1 and up,4.1,8.1
10838,Parkinson Exercices FR,2.2 and up,2.2,8.1
10839,The SCP Foundation DB fr nn5n,NaN,None,None
10840,iHoroscope - 2018 Daily Horoscope & Astrology,NaN,None,None

#### Here we do the Current Ver conversion

In [110]:
print('There are {0} missing data values in Android Ver out of {1} more than 12%'
      .format(googlestore[googlestore['Current Ver'].isnull()].shape[0], googlestore.shape[0]))

There are 1467 missing data values in Android Ver out of 10840 more than 12%

In [111]:
googlestore['Current Ver'].value_counts()

1.0                           809
1.1                           264
1.2                           178
2.0                           151
1.3                           145
1.0.0                         136
1.0.1                         119
1.4                            88
1.5                            81
1.0.2                          80
1.6                            65
1.0.3                          62
2.1                            61
3.0                            59
1.0.4                          58
1.7                            53
2.0.0                          51
1.0.5                          50
1.1.0                          49
1.1.1                          48
1.0.6                          47
1.2.1                          46
1.2.0                          43
1.8                            42
4.0                            40
1.9                            37
2.3.2                          35
2.4                            34
1.0.7                          34
1.0.9                          33
                             ...
1.6d                            1
1.5.13-3598                     1
1.5.3.8                         1
2.5.111                         1
3.11.2                          1
3.0.0fr                         1
18060104                        1
1.26.2                          1
Build 54                        1
6.5.32-prod                     1
1.24.09                         1
18.06.p03.02                    1
6.1.5                           1
2.01.12                         1
2.0.3165                        1
4.11                            1
5.2.5                           1
Natalia Studio Development      1
v3                              1
2.6.7.487220                    1
1.62                            1
1.3.35                          1
4.7.0.2200000                   1
1.2.22                          1
11                              1
10.9.8 (Play)                   1
6.2.9                           1
7.7                             1
0.5.2 beta                      1
3.5.4                           1
Name: Current Ver, Length: 2830, dtype: int64

In [112]:
#It will search for any string with the format num.num.num...
#It should end with a number, can also not have a dot for example a new app can have version 1 and 
#not necessarily 1.0
currentVer = re.compile('(?P<ver>[\d+\.]*\d)') 

def convertCurrentVer(version):
    #Since we checked that there are some NaN values
    if pd.isnull(version):
        return None
    CurVer=currentVer.search(version)
    if CurVer is not None:
        return CurVer.group('ver')
    else:
        return None

In [113]:
googlestore['CurrentVersion']=googlestore['Current Ver'].apply(convertCurrentVer)

In [114]:
display("googlestore[['App','Current Ver','CurrentVersion']].head(8000).tail()")

googlestore[['App','Current Ver','CurrentVersion']].head(8000).tail()
                              App Current Ver CurrentVersion
7995          Cartoon Wars: Blade       1.1.0          1.1.0
7996  FANDOM: Arrow and The Flash       2.9.8          2.9.8
7997      CW Beacon for Ham Radio          KM           None
7998         IZ2UUF Morse Koch CW     1.0.013        1.0.013
7999  Morse Decoder for Ham Radio        1.52           1.52

In [115]:
#checking why some non null Current Ver were converted to None
googlestore[googlestore.CurrentVersion.isnull() & ~googlestore['Current Ver'].isnull()][['App','Current Ver','CurrentVersion']]

,App,Current Ver,CurrentVersion
1423,Self Healing,Public.Heal,None
2501,HHS,Initial,None
3611,Latest Emmanuella Comedy Video,Natalia Studio Development,None
5218,AI Image Recognizer (beta),closed,None
5289,Ak-47 Wallpapers 2018,newversion,None
5981,BC iptv player,Final,None
7140,Cádiz CB Gades,opciÃ³n de cerrar,None
7509,App for Craigslist Pro - Buy & Sell Postings,App copyright,None
7510,Pro App for Craigslist,Copyright,None
7766,CR & CoC Private Server - Clash Barbarians PRO,Gratis,None
7997,CW Beacon for Ham Radio,KM,None
8435,DH-Security Camera,DH-Security Camera,None
8551,Auto DM for Twitter 🔥,HTTPs,None
9055,Human Dx,Human Dx,None
9322,EG Player,Final,None
9644,English to Hindi Dictionary,BlueOrange,None
9934,I'm Rich/Eu sou Rico/أنا غني/我很有錢,MONEY,None

## Exercise 5
5. Remove the duplicates

We sort the dataset according to the App and number of reviews in case of the same app in descending order, and then we we drop the duplicates keeping only the first value so the one the one with more reviews.

In [116]:
googlestore=googlestore.sort_values(['App','Reviews'],ascending=False).drop_duplicates('App',keep='first')

In [117]:
#There is not more any duplicate
googlestore[googlestore.duplicated('App')]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver, SizeInBytes, InstallNumber, Min_Android_Ver, Max_Android_Ver, CurrentVersion]
Index: []

In [118]:
#We Reset the index such as the dropped values are retaken and we don't have gaps
#in the index, it's just a personal choice not necessary.
googlestore=googlestore.reset_index().drop('index',axis = 1)
#And we name our index AppId.
googlestore.index.name="AppId"

In [119]:
display("googlestore.head()")
#The app with AppId 3 has a Price of 399.99$!

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,SizeInBytes,InstallNumber,Min_Android_Ver,Max_Android_Ver,CurrentVersion
AppId,,,,,,,,,,,,,,,,,,
0,🔥 Football Wallpapers 4K | Full HD Backgrounds 😍,ENTERTAINMENT,4.7,11661,4.0M,"1,000,000+",Free,0,Everyone,Entertainment,"July 14, 2018",1.1.3.2,4.0.3 and up,4000000.0,1000000,4.0.3,8.1,1.1.3.2
1,📏 Smart Ruler ↔️ cm/inch measuring for homework!,TOOLS,4.0,19,3.2M,"10,000+",Free,0,Everyone,Tools,"October 21, 2017",1.0,4.2 and up,3200000.0,10000,4.2,8.1,1.0
2,"💘 WhatsLov: Smileys of love, stickers and GIF",SOCIAL,4.6,22098,18M,"1,000,000+",Free,0,Everyone,Social,"July 24, 2018",4.2.4,4.0.3 and up,18000000.0,1000000,4.0.3,8.1,4.2.4
3,💎 I'm rich,LIFESTYLE,3.8,718,26M,"10,000+",Paid,$399.99,Everyone,Lifestyle,"March 11, 2018",1.0.0,4.4 and up,26000000.0,10000,4.4,8.1,1.0.0
4,"뽕티비 - 개인방송, 인터넷방송, BJ방송",VIDEO_PLAYERS,NaN,414,59M,"100,000+",Free,0,Mature 17+,Video Players & Editors,"July 18, 2018",4.0.7,4.0.3 and up,59000000.0,100000,4.0.3,8.1,4.0.7

## Exercise 6
6. For each category, compute the number of apps

We have Removed the duplicated apps so all we need to do is do a groupby with category and use the function size(). Or we could have used the function value_counts() for the Series googlestore['Category']

In [133]:
googlestore.groupby('Category').size()
#googlestore.Category.value_counts() #Analogous as above

Category
ART_AND_DESIGN           61
AUTO_AND_VEHICLES        85
BEAUTY                   53
BOOKS_AND_REFERENCE     222
BUSINESS                420
COMICS                   56
COMMUNICATION           315
DATING                  171
EDUCATION               108
ENTERTAINMENT            87
EVENTS                   64
FAMILY                 1876
FINANCE                 345
FOOD_AND_DRINK          112
GAME                    943
HEALTH_AND_FITNESS      288
HOUSE_AND_HOME           73
LIBRARIES_AND_DEMO       84
LIFESTYLE               369
MAPS_AND_NAVIGATION     131
MEDICAL                 395
NEWS_AND_MAGAZINES      254
PARENTING                60
PERSONALIZATION         376
PHOTOGRAPHY             281
PRODUCTIVITY            374
SHOPPING                202
SOCIAL                  239
SPORTS                  325
TOOLS                   828
TRAVEL_AND_LOCAL        219
VIDEO_PLAYERS           164
WEATHER                  79
dtype: int64

## Exercise 7
7. For each category, compute the average rating

In [130]:
#Dataframe is easier to read.
pd.DataFrame(googlestore.groupby('Category')['Rating'].mean())

                       Rating
Category
ART_AND_DESIGN       4.359322
AUTO_AND_VEHICLES    4.190411
BEAUTY               4.278571
BOOKS_AND_REFERENCE  4.344970
BUSINESS             4.098479
COMICS               4.181481
COMMUNICATION        4.121484
DATING               3.970149
EDUCATION            4.358879
ENTERTAINMENT        4.129885
EVENTS               4.435556
FAMILY               4.183525
FINANCE              4.115563
FOOD_AND_DRINK       4.171277
GAME                 4.243527
HEALTH_AND_FITNESS   4.243033
HOUSE_AND_HOME       4.140984
LIBRARIES_AND_DEMO   4.178125
LIFESTYLE            4.093355
MAPS_AND_NAVIGATION  4.036441
MEDICAL              4.166552
NEWS_AND_MAGAZINES   4.121569
PARENTING            4.300000
PERSONALIZATION      4.332215
PHOTOGRAPHY          4.157414
PRODUCTIVITY         4.183389
SHOPPING             4.230556
SOCIAL               4.247291
SPORTS               4.216154
TOOLS                4.039917
TRAVEL_AND_LOCAL     4.069519
VIDEO_PLAYERS        4.044966
WEATHER              4.243056

## Exercise 8
8. Create two dataframes: one for the genres and one bridging apps and genders. So that, for instance, the app Pixel Draw - Number Art Coloring Book appears twice in the bridging table, once for Art & Design, once for Creativity

We start by creating the Genre table from the googlestore dataframe

In [199]:
#We can have genres like Art & Design;Creativity so we need to separate them by splitting them first
#then we convert it to a DataFrame so the arrays within the array are separated and then we append them
genre = pd.DataFrame([genres.split(';') for genres in googlestore.Genres])
display("genre.head()")

genre.head()
                         0     1
0            Entertainment  None
1                    Tools  None
2                   Social  None
3                Lifestyle  None
4  Video Players & Editors  None

In [200]:
#we can have a maximum of 2 genre per app but we assume not knowing it and use a more general approch
genre_series = pd.Series() #Empty Series
Apps2 = pd.Series() #Empty Series

for i in genre.columns:
    #just for convenience it indicates the column number of the genre dataframe created before
    genre_i = genre[i] 
    #We append in a single series all the columns of the dataframe genre
    genre_series = genre_series.append(genre_i)
    #We append as many times as genre also the application, we will need to later for the join table
    Apps2 = Apps2.append(googlestore.App)
#We drop the None values assuming all the apps to hava a genre and keep only the unique values
#So no app can have a None Genre.
genre_unique = genre_series.dropna().unique()

In [201]:
genre_table = pd.DataFrame(genre_unique).reset_index()

In [202]:
#Just to create nice index so we can export the csv file with GenreId
genre_table.columns = ['GenreId','Genre']

In [203]:
#esthetic choise to make id start from 1 and not 0
genre_table.GenreId = [x+1 for x in genre_table.GenreId]
#Now we have a genre_table
display("genre_table.head()")

genre_table.head()
   GenreId                    Genre
0        1            Entertainment
1        2                    Tools
2        3                   Social
3        4                Lifestyle
4        5  Video Players & Editors

In [241]:
#Needed just for the print, will restore it as it was after the next cell
#Even though it could we left like it is. Couldn't find a way to print a dataframe without it's index
genre_table.set_index('GenreId',inplace=True)
genre_table.head()

                           Genre
GenreId
1                  Entertainment
2                          Tools
3                         Social
4                      Lifestyle
5        Video Players & Editors

In [242]:
#We set the index = None not to have the left index column in the .csv file
genre_table.to_csv("./datasets/Genre_Table.csv")

In [243]:
#I create a dictionary from Apps2 and genre_series and convert them into a dataframe
temp_table = pd.DataFrame({'Apps':Apps2,'Genre': genre_series})

In [244]:
#We drop the null values and reset the index
temp_table = temp_table.dropna()
temp_table = temp_table.reset_index()
#checking which column do we have
temp_table.columns

Index(['index', 'Apps', 'Genre'], dtype='object')

In [245]:
#We rename it just so all the tables have the same name when if need to merge them
temp_table.columns = ['AppId', 'App','Genre']

In [254]:
#I sort it so the same app with more genres are nearby (just esthetics)
bridging_table = pd.merge(temp_table,genre_table.reset_index(), on = 'Genre').sort_values('AppId')
display("bridging_table.head()")

,AppId,App,Genre,GenreId
0,0,🔥 Football Wallpapers 4K | Full HD Backgrounds 😍,Entertainment,1
592,1,📏 Smart Ruler ↔️ cm/inch measuring for homework!,Tools,2
1420,2,"💘 WhatsLov: Smileys of love, stickers and GIF",Social,3
1659,3,💎 I'm rich,Lifestyle,4
2029,4,"뽕티비 - 개인방송, 인터넷방송, BJ방송",Video Players & Editors,5

In [255]:
bridging_table[bridging_table.duplicated('AppId',keep=False)].sort_values('AppId').head(6)

      AppId                           App        Genre  GenreId
2830    157       iTooch Mathématiques CP    Education        7
2260    157       iTooch Mathématiques CP    Education        7
2831    277  codeSpark Academy & The Foos    Education        7
6088    277  codeSpark Academy & The Foos  Educational       25
2832    353                      Zowi App    Education        7
2271    353                      Zowi App    Education        7

#### We see that the Genre Education is somehow duplicated in different Apps such as Zowi App, iTooch Mathématiques CP, etc. that is because of the format of googlestore dataframe, in the Genres column it has two times Education!

In [256]:
display("googlestore.iloc[[157,353]]")

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,SizeInBytes,InstallNumber,Min_Android_Ver,Max_Android_Ver,CurrentVersion
AppId,,,,,,,,,,,,,,,,,,
157,iTooch Mathématiques CP,FAMILY,4.3,1018,35M,"100,000+",Free,0,Everyone,Education;Education,"June 28, 2017",4.6.2,4.0.3 and up,35000000.0,100000,4.0.3,8.1,4.6.2
353,Zowi App,FAMILY,4.5,516,21M,"50,000+",Free,0,Everyone,Education;Education,"December 21, 2016",1.4.1,4.0.3 and up,21000000.0,50000,4.0.3,8.1,1.4.1

#### It would create a problem since we were thinking of using this column as a composite primary key formed with AppId and GenreId, best thing is to remove the duplicated rows:

In [257]:
bridging_table.drop_duplicates(inplace=True) #keeps the first and removes only if same value for each column

In [258]:
bridging_table.duplicated().any()

False

In [259]:
#In the bridging table we don't need the app name we use AppId a better key and the same for Genre
bridging_table=bridging_table.reset_index().drop(['App','Genre','index'],axis = 1)
display("bridging_table.head()")

bridging_table.head()
   AppId  GenreId
0      0        1
1      1        2
2      2        3
3      3        4
4      4        5

In [260]:
bridging_table.to_csv("./datasets/Bridging_table.csv",index=None)

In [261]:
display("bridging_table","genre_table","googlestore[['App','Genres']]")

bridging_table
       AppId  GenreId
0          0        1
1          1        2
2          2        3
3          3        4
4          4        5
5          5        6
6          6        7
7          7        6
8          8        8
9          9        9
10        10       10
11        11       11
12        12        7
13        13       12
14        14       13
15        15        6
16        16        1
17        17       14
18        18        4
19        19        1
20        20        1
21        21        7
22        22       15
23        23       16
24        24       17
25        25        2
26        26       17
27        27       18
28        28       19
29        29       12
...      ...      ...
9988    9629       27
9989    9630       33
9990    9631        6
9991    9632       17
9992    9633       17
9993    9634       19
9994    9635        9
9995    9636       20
9996    9637       44
9997    9638       27
9998    9639        8
9999    9640       27
10000   9641        4
10001   9642       12
10002   9643       33
10003   9644        7
10004   9645        4
10005   9646        7
10006   9647       31
10007   9648        8
10008   9649        9
10009   9650        7
10010   9651       37
10011   9652       29
10012   9653       17
10013   9654        9
10014   9655        2
10015   9656        6
10016   9657        3
10017   9658       29

[10018 rows x 2 columns]

genre_table
                           Genre
GenreId
1                  Entertainment
2                          Tools
3                         Social
4                      Lifestyle
5        Video Players & Editors
6                         Comics
7                      Education
8              Books & Reference
9                  Communication
10             Maps & Navigation
11                  House & Home
12                      Shopping
13                    Simulation
14                     Adventure
15                  Art & Design
16                      Strategy
17              News & Magazines
18               Auto & Vehicles
19                        Action
20                       Finance
21                  Food & Drink
22                        Arcade
23                       Weather
24               Personalization
25                   Educational
26                        Events
27                       Medical
28                Travel & Local
29                        Sports
30                        Casual
31                        Puzzle
32                        Dating
33                      Business
34                  Productivity
35                   Photography
36                        Beauty
37              Health & Fitness
38              Libraries & Demo
39                        Casino
40                     Parenting
41                        Trivia
42                        Racing
43                          Card
44                         Board
45                          Word
46                  Role Playing
47                 Music & Audio
48                         Music
49                 Music & Video
50            Action & Adventure
51                    Creativity
52                  Pretend Play
53                   Brain Games

googlestore[['App','Genres']]
                                                     App  \
AppId
0       🔥 Football Wallpapers 4K | Full HD Backgrounds 😍
1       📏 Smart Ruler ↔️ cm/inch measuring for homework!
2          💘 WhatsLov: Smileys of love, stickers and GIF
3                                             💎 I'm rich
4                                뽕티비 - 개인방송, 인터넷방송, BJ방송
5                                            감성학원 BL 첫사랑
6                                     英漢字典 EC Dictionary
7                    漫咖 Comics - Manga,Novel and Stories
8                                                 日本AV历史
9                                                哈哈姆特不EY
10     乗換NAVITIME　Timetable & Route Search in Japan T...
11     乐屋网: Buying a house, selling a house, renting ...
12                                           中国語 AQリスニング
13                       パーリーゲイツ公式通販｜EJ STYLE（イージェイスタイル）
14                                         あなカレ【BL】無料ゲーム
15     【Ranobbe complete free】 Novelba - Free app tha...
16                              【Miku AR Camera】Mikuture
17                          ► MultiCraft ― Free Miner! 👍
18                သိင်္ Astrology - Min Thein Kha BayDin
19                                             বাংলাflix
20                          বাংলা টিভি প্রো BD Bangla TV
21                                     لعبة تقدر تربح DZ
22                                             صور حرف H
23                                   الفاتحون Conquerors
24               أحداث وحقائق | خبر عاجل في اخبار العالم
25                       РееI Smart Remote MP3 CD Player
26                                           РИА Новости
27                                Билеты ПДД CD 2019 PRO
28                                   Аim Training for CS
29                          Šmelina .cz inzeráty inzerce
...                                                  ...
9629                          2017 EMRA Antibiotic Guide
9630                         2017 BN SM Sales Conference
9631                      2000 AD Comics and Judge Dredd
9632                                     20 minutes (CH)
9633                                     20 Minuten (CH)
9634                         2-Player Co-op Zombie Shoot
9635   2 Amateur ham radio CW Morse code practice key...
9636                           1st Fed CI Mobile Banking
9637                     1LINE – One Line with One Touch
9638                          1800 Contacts - Lens Store
9639                            17th Edition Cable Sizer
9640                                       14thStreetVet
9641   12 Step Meditations & Sober Prayers AA NA AL-ANON
9642                                                11st
9643   104 Looking for a job - looking for a job, loo...
9644                          101 C Programming Problems
9645     100000+ Messages - DP, Status, Jokes & GIF 2018
9646                                     100+ C Programs
9647                                100 Doors of Revenge
9648                          10,000 Quotes DB (Premium)
9649      10 WPM Amateur ham radio CW Morse code trainer
9650                       10 Minutes a Day Times Tables
9651                               10 Best Foods for You
9652                                      1. FC Köln App
9653                                              058.ba
9654                                              /u/app
9655                                                  .R
9656                          - Free Comics - Comic Apps
9657                       +Download 4 Instagram Twitter
9658                "i DT" Fútbol. Todos Somos Técnicos.

                        Genres
AppId
0                Entertainment
1                        Tools
2                       Social
3                    Lifestyle
4      Video Players & Editors
5                       Comics
6                    Education
7                       Comics
8            Books & Reference
9                Communication
10           Maps & Navigation
11                House & Home
12                   Education
13                    Shopping
14                  Simulation
15                      Comics
16               Entertainment
17                   Adventure
18                   Lifestyle
19               Entertainment
20               Entertainment
21                   Education
22                Art & Design
23                    Strategy
24            News & Magazines
25                       Tools
26            News & Magazines
27             Auto & Vehicles
28                      Action
29                    Shopping
...                        ...
9629                   Medical
9630                  Business
9631                    Comics
9632          News & Magazines
9633          News & Magazines
9634                    Action
9635             Communication
9636                   Finance
9637                     Board
9638                   Medical
9639         Books & Reference
9640                   Medical
9641                 Lifestyle
9642                  Shopping
9643                  Business
9644                 Education
9645                 Lifestyle
9646                 Education
9647                    Puzzle
9648         Books & Reference
9649             Communication
9650                 Education
9651          Health & Fitness
9652                    Sports
9653          News & Magazines
9654             Communication
9655                     Tools
9656                    Comics
9657                    Social
9658                    Sports

[9659 rows x 2 columns]

In [262]:
genre_table.reset_index(inplace=True)

#### Let's check if the merge works on the three tables

In [263]:
merge1 = bridging_table.merge(genre_table, on='GenreId')

In [264]:
googlestore.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,SizeInBytes,InstallNumber,Min_Android_Ver,Max_Android_Ver,CurrentVersion
AppId,,,,,,,,,,,,,,,,,,
0,🔥 Football Wallpapers 4K | Full HD Backgrounds 😍,ENTERTAINMENT,4.7,11661,4.0M,"1,000,000+",Free,0,Everyone,Entertainment,"July 14, 2018",1.1.3.2,4.0.3 and up,4000000.0,1000000,4.0.3,8.1,1.1.3.2
1,📏 Smart Ruler ↔️ cm/inch measuring for homework!,TOOLS,4.0,19,3.2M,"10,000+",Free,0,Everyone,Tools,"October 21, 2017",1.0,4.2 and up,3200000.0,10000,4.2,8.1,1.0
2,"💘 WhatsLov: Smileys of love, stickers and GIF",SOCIAL,4.6,22098,18M,"1,000,000+",Free,0,Everyone,Social,"July 24, 2018",4.2.4,4.0.3 and up,18000000.0,1000000,4.0.3,8.1,4.2.4
3,💎 I'm rich,LIFESTYLE,3.8,718,26M,"10,000+",Paid,$399.99,Everyone,Lifestyle,"March 11, 2018",1.0.0,4.4 and up,26000000.0,10000,4.4,8.1,1.0.0
4,"뽕티비 - 개인방송, 인터넷방송, BJ방송",VIDEO_PLAYERS,NaN,414,59M,"100,000+",Free,0,Mature 17+,Video Players & Editors,"July 18, 2018",4.0.7,4.0.3 and up,59000000.0,100000,4.0.3,8.1,4.0.7

In [266]:
merge2 = merge1.merge(googlestore[['App','Genres']], on='AppId')

In [268]:
#Check if we have 2 rows for the app Pixel Draw - Number Art Coloring Book 
#once for Art & Design, once for Creativity
merge2[merge2.App=='Pixel Draw - Number Art Coloring Book']

,AppId,GenreId,Genre,App,Genres
4284,2636,15,Art & Design,Pixel Draw - Number Art Coloring Book,Art & Design;Creativity
4285,2636,51,Creativity,Pixel Draw - Number Art Coloring Book,Art & Design;Creativity

In [269]:
#We check on the bridging table too
bridging_table[bridging_table.AppId==2636] #The app with AppId 2636 is the Pixel Draw one.

      AppId  GenreId
2732   2636       51
2733   2636       15